Linux Reachable Hosts: {{ linux_reachable }} / {{ total_linux_servers }} ({{ (linux_reachable / total_linux_servers * 100) | round(2) }}%)
Windows Reachable Hosts: {{ windows_reachable }} / {{ total_windows_servers }} ({{ (windows_reachable / total_windows_servers * 100) | round(2) }}%)
